<a href="https://slack.com/oauth/authorize?scope=bot&client_id=<%=ENV['SLACK_APP_ID']%>&redirect_uri=<%=ENV['SLACK_APP_REDIRECT_URL']%>">
  <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"/>
</a>